.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__main-header
      .chat-main__main-header__left-box
        .chat-main__main-header__left-box__group-name{"data-group-id": "#{@group.id}"}
          = @group.name
        .chat-main__main-header__left-box__group-member
          Member :
          - @group.group_users.each do |group_users|
            = group_users.user.name
      .chat-main__main-header__edit-button
        = link_to edit_group_path(@group[:id]), class: "button" do
          Edit
    .chat-main__messages
      = render @messages
    = render 'shared/chat-main_form'