.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'

-# .chat-main__form 
-#   .chat-main__form__new-message
-#     .chat-main__form__new-message__input-box
-#       %input.chat-main__form__new-message__input-box__text{:placeholder => "type a message", :type => "text"}
-#       %label.chat-main__form__new-message__input-box__text__image{:for => "message_image"}
-#         %i.fa.fa-image
-#         %input#message_image.chat-main__form__new-message__input-box__image{:style => "display:none", :type => "file"}/
-#     %input.chat-main__form__new-message__send-button{:type => "submit", :value => "Send"}/